@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
@import "tw-animate-css";

.container {
  @apply max-w-[1350px] w-[calc(100%-20px)] mx-auto;
}

.pop {
  font-family: "Poppins", sans-serif;
}

.ub {
  font-family: "Ubuntu", sans-serif;
}

@theme {
  --text-primary: #013e50;
}
